 body {
     background-color: black;
 }

 .header-text {
     text-align: center;
     color: aliceblue;
     font-size: x-large;
 }

 .header-container {
     background-color: darkred;
     padding: 5%;
     border-radius: 15px;
     margin: 3%;
 }

 .flex-header {
     display: flex;
     justify-content: center;
 }

 .shadows-into-light-regular {
     font-family: "Shadows Into Light", cursive;
     font-weight: 400;
     font-style: normal;
 }

 .rock-salt-regular {
     font-family: "Rock Salt", cursive;
     font-weight: 400;
     font-style: normal;
 }

 .pangolin-regular {
     font-family: "Pangolin", cursive;
     font-weight: 400;
     font-style: normal;
 }

 .sriracha-regular {
     font-family: "Sriracha", cursive;
     font-weight: 400;
     font-style: normal;
 }


 .nav-menu-container {
     background-color: aliceblue;
     margin-top: 2%;
     margin-bottom: 2%;
     padding: 10px;
     display: flex;
 }

 .nav-menu-item {
     margin-left: 2%;
     margin-right: 2%;
     text-decoration: none;
     color: black;
     font-size: larger;

 }