button{
    color: rgb(0, 0, 0);
    background-color: rgb(14, 248, 72);
    border-radius: 5px;
    font-size: larger;
}
h1{
    font-size: xx-large;
    text-align: center;
}
userInFo h2{
    font-size: xx-large;
}
Refresh h2{
     font-size: xx-large;
}
new h2{
    font-size: xx-large;
}
