* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}


.logo {
   background-color: #68B03E;
    vertical-align: middle;
    position: relative; 
    padding-left: 10%;
    padding-top: 1%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(232, 232, 232);
}
.main {
    display: flex; 
    width: 100%;
    padding: 20px 20px; 
}
.login-colum {
    flex: 0 0 30%; 
    padding-right: 20px; 
}
.menu-login h1 {
    font-size: xx-large;
    color: #000000; 
    margin-bottom: 20px;
}
.menu-user h4 {
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 15px;
    font-weight: 700;
}
.user {
    background-color: rgb(255, 255, 255);
    width: 100%; 
    border-radius: 5px;
    padding: 30px; 
    margin-bottom: 20px;
}
button {
    width: 120px;
    padding: 10px;
    background-color: rgb(99, 184, 231);
    color: white;
    border: none;
    cursor: pointer;
    font-size: large;
    display: block;
    margin: 20px auto 15px auto;
}

input {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left: auto;
}
a {
    display: block;
    text-align: center;
    font-size: large;
    margin-top: 20px;
    color: #0060c7;
    text-decoration: none;
}
.menu-reset {
    background-color: rgb(254, 254, 254);
    width: 100%; 
    padding: 15px; 
    text-align: center;
    border-radius: 5px;
}

.menu-reset h4 {
    color: red;
    font-size: 16px;
    margin: 0 0 5px 0; 
}

.menu-reset p {
    font-size: 14px;
    margin: 0;
}

.menu-reset h6 {
    color: red;
    font-size: 18px;
    margin-top: 5px;
}

.news{
    flex: 1; 
    padding-left: 10px;
}
.wifi {
    padding: 10px; 
    background-color: rgb(255, 255, 255);
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;
}

.wifi  h3 {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 700;
    padding-left: 40px;
}

.wifi p.small-text {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 8px;
    padding-left: 32px;
}
.warning {
    background-color: white;
    padding: 10px; 
    margin-top: 10px;
}
.warning h3 {
    color: #333;
    padding: 0; 
    margin: 0 0 10px 0; 
    font-size: 18px; 
    font-weight: 700;
    text-align: left; 
}
.main-table {
    margin: 0;
    padding: 0;
    border-radius: 0;
    overflow: hidden; 
}
.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px; 
}
.table th, 
.table td {
    border: 1px solid #ddd; 
    padding: 6px 10px;
    text-align: left;
    vertical-align: top;
}

.table thead th {
    background-color: #f0f8ff; 
    font-weight: bold;
    color: #333;
}
.text-red {
    color: crimson;
    font-weight: bold;
}

.text-blue {
    color: blue;
    font-weight: bold;
}